*{
    margin: 0;
    padding: 0;
}
#bg{
background-color: beige;
height: 200px;
width: 350px;
margin-left: 450px;
margin-top: 80px;
border-radius: 10px;
border: 4px solid wheat;
padding: 50px;
}

.btn{
    padding: 7px;
    width: 130px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 7px;
    background-color: lightgrey;
    color: maroon;
    font-size: 15px;
}
.align{
    margin: 30px;
    font-size: 18px;
    text-align: center;
}
